<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <title>WifiPPT</title>

</head>
<body>
    <h1 align="center"> Remote Control</h1>
    <center>
        <a href="/play">
            <img src="/static/image/play.png" style="width:250px;height:250px;background-size:100% 100%;margin-top:50px">
        </a>
        <h2 align="center">点击播放PPT</h2>
    </center>
</body>
</html>